.flexParent{
		  	 display: flex;
		  	 flex-direction:row;
		  	 justify-content: flex;
		  }
		 .profile{
		 	width:30%;
		    padding:2%;
           margin: 2%;
           border: 5px solid #ddd;
		  }
		  .details{
		  	width:70%;
            padding:2%;
	       margin: 2%;
		  	 border: 2px solid #ddd;
		  }
		  img{
		  	width:75%;
		  	margin-left: auto;
		    margin-right: auto;
		    display: block;
		  	height:auto;
		  	border-radius:50%;
		  }
		 

		  @media only screen and (min-width: 320px) and (max-width: 480px)
		  {
		  	.flexParent{
		  	 display: flex;
		  	 flex-direction:column;
		  	 justify-content: center;

		  }
		  
		 .profile{
		 	width:30%;
           margin: 2%;
           border: 5px solid #ddd; 
			background: linear-gradient(to bottom, #ff0000 0%, #ff99cc 100%);
			 }
		  .details{
		  	width:70%;
           margin: 2%;
		  	 border: 5px solid #ddd;

			background: linear-gradient(to bottom, #ff00ff 0%, #ff0000 100%);
		  }
		  }



		   @media only screen and (min-width: 481px) and (max-width: 768px)
		  {

		  	.flexParent{
		  	 display: flex;
		  	 flex-direction:column;
		  	 justify-content: center;
		  }
		 
		 .profile{
		 	width:92%;
           margin: 2%;
           		  	 border: 5px solid #ddd;
			background: linear-gradient(to bottom, #ff0000 0%, #ff99cc 100%);
		  }
		  .details{
		  	width:92%;
           margin: 2%;
		  	 border: 5px solid #ddd;
			background: linear-gradient(to bottom, #ff00ff 0%, #ff0000 100%);
		  }
		  }

		   @media only screen and (min-width: 769px) and (max-width: 1024px)
		  {

		  	.flexParent{
		  	 display: flex;
		  	 flex-direction:row;
		  	 justify-content: center;
		  }
		 
		 .profile{
		 	width:92%;
           margin: 2%;
           		  	 border: 5px solid #ddd;
			background: linear-gradient(to bottom, #ff0000 0%, #ff99cc 100%);
		  }
		  .details{
		  	width:92%;
           margin: 2%;
		  	 border: 5px solid #ddd;
			background: linear-gradient(to bottom, #ff00ff 0%, #ff0000 100%);
		  }
		  }